* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

header{
  padding: 40px 4%;
}

section{
  padding: 40px 4%;
}

header .img{
  width:1280px;
  height:500px;
  background-image: url(/img/busan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.img-templo-haedong{
  width:1280px;
  height:500px;
  background-image: url(/img/Haedong\ yonggungsa\ temple.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.img-templo-beomeo{
  width:1280px;
  height:500px;
  background-image: url(/img/beomeosa\ temple.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.img-parque-yongdusan{
  width:1280px;
  height:500px;
  background-image: url(/img/Park\ Yongdusan.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}



